/* Custom style */

.page-heading {
  padding: 0 0 0 20px;
}

.ng-invalid:not(form) {
  border-left: 5px solid #1ab394;
}

.is-invalid {
  background: rgb(251, 227, 228);
}

select {
  margin: 5px;
}

pagination-controls .ngx-pagination .current {
  background: #1ab394;
}

pagination-controls .ngx-pagination {
  padding: 0px;
  text-align: right;
}

pagination-controls .ngx-pagination a {
  border: 1px solid #ddd;
}

.nowrap {
  white-space: nowrap;
}

.middle-box {
  padding-bottom: 50px;
}
